body {
  font-size: 17px;
  font-family: "source-sans-pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 60px; }
  body h1, body h2, body h3, body h4 {
    font-family: "source-sans-pro", sans-serif; }

.tight {
  padding: 0; }

.tight-left {
  padding-left: 0 !important; }

.tight-right {
  padding-right: 0 !important; }

.btn-primary {
  border: none; }

.btn {
  border-radius: 0; }
  .btn i {
    font-size: 0.6em;
    top: 0; }

.btn-default {
  border: 1px solid #dadada;
  background-image: -webkit-linear-gradient(#fff, #efefef);
  background-image: -o-linear-gradient(#fff, #efefef);
  background-image: linear-gradient(#fff, #efefef); }

.btn-lg {
  padding: 11px 16px; }

.btn-primary {
  background: #46a30e; }

.video-wrapper {
  position: relative;
  padding-bottom: 50.05%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .video-wrapper iframe {
    border: 6px solid #efefef;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.glyphicon-ok {
  color: #46a30e; }

.glyphicon-remove {
  color: #f0707f; }

.tabbable {
  margin: 0 0 3em;
  padding: 0 5px; }

.nav-tabs li {
  width: 24%;
  margin: 0 0 -1px 0;
  display: inline-block; }
  .nav-tabs li.two, .nav-tabs li.three {
    margin-left: 2px; }
  .nav-tabs li.active a {
    background: white; }
  .nav-tabs li a {
    background: #f9f9f9;
    border: 1px solid #dadada;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: #212121; }

.panel-group .panel {
  border-radius: 2px;
  margin-bottom: 1em;
  box-shadow: none;
  border: none; }
  .panel-group .panel .panel-heading {
    background: white;
    border: none; }
    .panel-group .panel .panel-heading .panel-title {
      padding: 4px 0; }
      .panel-group .panel .panel-heading .panel-title a {
        font-size: 1em;
        line-height: 1.5;
        text-shadow: none;
        font-weight: normal; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon {
          color: #666;
          font-size: 0.75em;
          margin-right: 10px; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon-minus {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon-plus {
          display: none; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-plus {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-minus {
          display: none; }
  .panel-group .panel .panel-collapse .panel-body {
    border-top: 1px dotted #efefef;
    background: white;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 15px 15px;
    text-shadow: none;
    color: #212121; }
    .panel-group .panel .panel-collapse .panel-body p {
      margin-bottom: 0;
      font-weight: normal;
      text-shadow: none; }

.linkedin {
  text-align: right;
  font-size: 14px; }
  .linkedin .btn-default {
    font-size: 12px; }
  .linkedin img {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    margin-bottom: 2px; }

section {
  padding: 2em 0; }
  section h2 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 100; }
  section h1 {
    text-align: center;
    font-weight: 100; }
  section .card, section .white {
    background: white;
    border: 1px solid #efefef; }

form .form-control {
  border: none; }

body.home {
  padding-top: 0; }
  body.home header .navbar {
    border-radius: 0;
    height: 60px;
    border: none;
    transition: background 0.15s ease-in-out; }
    body.home header .navbar.dark {
      background: rgba(0, 0, 0, 0.9); }
      body.home header .navbar.dark .navbar-collapse .navbar-nav li.signup a {
        background: #46a30e; }

header .navbar {
  border-radius: 0;
  height: 60px;
  background: rgba(0, 0, 0, 0.9);
  border: none;
  transition: background 0.15s ease-in-out; }
  header .navbar.dark {
    background: rgba(0, 0, 0, 0.9); }
    header .navbar.dark .navbar-collapse .navbar-nav li.signup a {
      background: #46a30e; }
  header .navbar .navbar-header .navbar-brand {
    margin: 0 20px;
    padding: 0;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: white; }
    header .navbar .navbar-header .navbar-brand i {
      font-size: 0.75em; }
  header .navbar .navbar-collapse .navbar-nav li a {
    transition: background 0.4s ease-in-out;
    line-height: 60px;
    font-size: 15px;
    padding: 0 20px;
    font-size: 16px;
    text-transform: none;
    color: white;
    display: block; }
    header .navbar .navbar-collapse .navbar-nav li a:hover {
      background: rgba(255, 255, 255, 0.05); }
  header .navbar.secondary {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0; }

.hero {
  padding: 4em 0;
  height: 600px;
  text-align: center;
  opacity: 1;
  transition: all 0.5s ease-in-out; }
  .hero.active {
    opacity: 100; }
  .hero .background {
    z-index: -1;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 600px;
    overflow: hidden;
    min-width: 1045px;
    background: url("../images/spacex.jpg") bottom center no-repeat;
    background: url("../images/sandhill-blur.jpg") bottom center no-repeat;
    background-size: cover;
    background-position: fixed; }
  .hero h1 {
    font-size: 58px;
    color: white;
    margin: 110px 0 15px;
    opacity: 100;
    transition: all 0.5s ease-in-out;
    font-weight: normal; }
    .hero h1.active {
      opacity: 1; }
  .hero h2 {
    color: white;
    font-weight: 100;
    font-size: 28px;
    margin: 0 0 50px;
    opacity: 100;
    transition: all 0.5s ease-in-out;
    text-transform: none; }
    .hero h2.active {
      opacity: 1; }
  .hero form {
    border: 8px solid rgba(0, 0, 0, 0.25);
    padding: 0;
    border-radius: 5px;
    margin: 0 60px;
    opacity: 100;
    transition: all 0.5s ease-in-out; }
    .hero form.active {
      opacity: 1; }
    .hero form .form-group {
      margin: 0; }
      .hero form .form-group .input-lg {
        height: 56px; }
      .hero form .form-group .error {
        background: white;
        display: block; }
    .hero form .left, .hero form .right {
      padding: 0; }
      .hero form .left .form-control, .hero form .right .form-control {
        border-radius: 0; }
      .hero form .left .btn, .hero form .right .btn {
        border-radius: 0;
        height: 56px; }

.grey {
  background: #f6f6f6; }

.lightblue {
  background: #56c1ec; }

.red {
  background: #f0707f; }

.about h2 {
  text-align: center; }
.about blockquote {
  border: none;
  text-align: center;
  font-size: 22px;
  font-weight: 300; }

.how-it-works {
  padding: 4em 0 6em; }
  .how-it-works h2 {
    margin-top: 0;
    padding: 0;
    font-size: 40px;
    margin-bottom: 50px; }
  .how-it-works .bucket {
    padding: 0 30px;
    text-align: center; }
    .how-it-works .bucket p {
      font-size: 16px;
      font-weight: 100; }
    .how-it-works .bucket h3 {
      font-size: 28px;
      margin: 0 0 20px;
      font-weight: 100; }
    .how-it-works .bucket i {
      display: inline-block;
      margin: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: transparent;
      background-position: center center;
      background-size: 100px 100px;
      background-repeat: no-repeat; }
      .how-it-works .bucket i.notification {
        background-image: url("../images/notification-icon.png");
        background-size: 75px 75px; }
      .how-it-works .bucket i.chart {
        background-image: url("../images/chart-icon.png"); }
      .how-it-works .bucket i.pitch {
        background-image: url("../images/pitch-icon.jpg"); }
      .how-it-works .bucket i.invest {
        background-image: url("../images/piggy-icon.png"); }

.features {
  padding: 4em 0;
  color: white;
  background: url("../images/sf-financial.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .features h2 {
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
    font-weight: 100; }
  .features .bucket {
    margin-bottom: 30px; }
  .features .circle {
    display: inline-block;
    padding: 20px;
    max-width: 80px;
    border: 1px solid white;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05); }
  .features .icon {
    display: block;
    height: auto;
    max-width: 100%; }
  .features h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0;
    color: white;
    font-weight: 100; }
  .features p {
    font-size: 18px;
    font-weight: 100;
    color: white;
    font-weight: 100;
    margin-bottom: 4em;
    max-width: 75%;
    display: inline-block; }

.testimonials h2 {
  font-size: 40px;
  margin-bottom: 50px; }
.testimonials .bucket {
  text-align: center;
  padding: 0 30px; }
  .testimonials .bucket img {
    width: 120px;
    height: auto;
    margin-bottom: 15px; }
  .testimonials .bucket blockquote {
    border: none;
    text-align: center;
    font-style: italic; }
    .testimonials .bucket blockquote small {
      margin: 10px 0;
      font-size: 15px;
      font-style: normal; }

.faq h2 {
  margin-bottom: 40px; }

.register .art {
  min-height: 360px; }

.deal header {
  padding-top: 0px;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .deal header .overlay {
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .deal header .navbar {
    background: rgba(0, 0, 0, 0.02);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin: 0;
    position: relative;
    top: 0; }
    .deal header .navbar .navbar-header {
      text-align: center; }
      .deal header .navbar .navbar-header .company-logo {
        margin-left: 0px;
        padding: 15px;
        display: inline-block; }
        .deal header .navbar .navbar-header .company-logo img {
          height: 25px;
          width: auto;
          margin-bottom: -2px; }
    .deal header .navbar .navbar-collapse .navbar-nav li a {
      font-size: 14px;
      color: #212121;
      border-left: 1px dotted #dadada;
      line-height: 59px; }
      .deal header .navbar .navbar-collapse .navbar-nav li a .glyphicon {
        font-size: 0.75em;
        top: 1px; }
      .deal header .navbar .navbar-collapse .navbar-nav li a:hover {
        color: #56c1ec;
        background: white;
        border-bottom: 1px dotted #dadada; }
      .deal header .navbar .navbar-collapse .navbar-nav li a.btn {
        border-color: #efefef; }
    .deal header .navbar .navbar-collapse .btn-primary, .deal header .navbar .navbar-collapse .btn-default {
      border-radius: 0;
      padding: 12px 24px;
      margin: 10px -5px 0 0;
      line-height: 1; }
      .deal header .navbar .navbar-collapse .btn-primary i, .deal header .navbar .navbar-collapse .btn-default i {
        vertical-align: middle;
        font-size: 0.75em;
        top: -2px;
        margin: 0 4px 0 0; }
.deal .intro .btn-default, .deal .intro .btn-primary {
  font-size: 16px;
  padding: 14px 0; }
.deal .quote {
  padding: 1.5em 0;
  background: #efefef;
  text-align: center; }
  .deal .quote blockquote {
    font-style: italic;
    font-size: 18px;
    border: none;
    padding: 0;
    margin: 0; }
    .deal .quote blockquote small {
      font-size: 18px;
      display: inline-block; }
.deal .btn-primary {
  margin-bottom: 10px; }
.deal .mission {
  text-align: left;
  font-size: 26px;
  margin: 0px 0 30px;
  line-height: 1.6; }
.deal .inner {
  padding: 1em 15px 30px; }
  .deal .inner.flat {
    padding-top: 0; }
.deal .table {
  margin-top: 30px; }
  .deal .table tbody > tr > td {
    border: none;
    border-bottom: 1px dotted #dadada; }
  .deal .table tbody > tr.last > td {
    border: none; }
  .deal .table thead td {
    text-decoration: underline; }
  .deal .table .value {
    font-weight: bold; }
  .deal .table td {
    font-weight: 100; }
.deal h1 {
  margin-bottom: 40px; }
.deal h2, .deal h3, .deal h4 {
  font-size: 22px;
  text-transform: none;
  font-weight: 100; }
.deal .tab-content .tab-pane {
  padding: 1.5em 30px; }
  .deal .tab-content .tab-pane .btn-primary, .deal .tab-content .tab-pane .btn-default {
    font-weight: 100;
    font-size: 16px; }
    .deal .tab-content .tab-pane .btn-primary i.glyphicon, .deal .tab-content .tab-pane .btn-default i.glyphicon {
      font-size: 0.75em;
      margin-right: 5px; }
  .deal .tab-content .tab-pane h3 {
    font-size: 28px;
    margin-bottom: 30px; }
  .deal .tab-content .tab-pane ul {
    list-style-type: circle; }
    .deal .tab-content .tab-pane ul li {
      font-size: 30px;
      margin-bottom: 10px;
      color: #dadada; }
  .deal .tab-content .tab-pane strong {
    display: inline-block;
    text-align: center;
    color: #f0707f;
    font-weight: normal; }
  .deal .tab-content .tab-pane em {
    font-weight: 100;
    text-align: center;
    font-style: normal;
    color: #212121;
    font-size: 24px; }
  .deal .tab-content .tab-pane .leader {
    padding: 0 10px; }
    .deal .tab-content .tab-pane .leader img {
      margin-bottom: 0; }
    .deal .tab-content .tab-pane .leader p {
      font-weight: 100;
      margin-bottom: 20px; }
    .deal .tab-content .tab-pane .leader .linkedin .btn-default {
      font-size: 12px;
      font-weight: 100; }
  .deal .tab-content .tab-pane p {
    font-size: 14px;
    text-align: left; }
  .deal .tab-content .tab-pane h4 {
    line-height: 1.6;
    text-align: left; }
    .deal .tab-content .tab-pane h4 small {
      display: block; }
  .deal .tab-content .tab-pane .img-thumbnail {
    display: inline-block;
    max-width: 60%;
    height: auto; }
.deal .comments {
  background: rgba(0, 0, 0, 0.02);
  margin: 15px 15px 0; }

.footer {
  margin: 0;
  background: #212121;
  text-align: center;
  color: #999;
  border: none; }
